body{
    background-color: black;
    max-width: 1024px;
    margin: 0 auto;
}
h1{
    color: red;
    font-weight: bold;
    font-size: 100px;
    text-align: center;
}
button {
    width: 400px;
    height: 100px;
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 300px;
}
p{
    font-size: 30px;
    font-weight: bold;
}